@media (min-width: 320px) and (max-width: 420px) {

	html {
		box-sizing: border-box; 
	}

	#wrapper {
		width: 100%;
		overflow-x: hidden;
	}

	.header {
		padding: 0;
	}

	.home {
		height: 180px;
		/*height: 200px;*/
		padding-top: 150px; 
	}

	.menu {
		display: none;
	}
	
	/*menu-settings*/

	ul.sub-menu { 
		display: block;
		position: absolute; 
		top: 0;
		right: 10px;
		padding-top: 5px
	}
	
	.hamb a {
		display: block;
	}

	.hamb img {
		width: 15%;
	}

 	ul {             
		width: 110px;
		text-align: center;
		font-size: 15px;
	}
	
  	li ul {             
		position: absolute;     
		display: none;          
	}
	
  	li a {
  		text-transform: uppercase;
  		font-size: 12px;
  		font-weight: bold;
  		color: #fff;               
		display: block;	
			-webkit-transition: all .2s;
			-o-transition: all .2s;
			transition: all .2s;
	}
	
  	li a:hover {         
		color: #000;	
	}
	
   	li a:active {        
		color: #3c3c3c;
	}

  	li:hover ul {         
		display: block;
   }
   
   .punct {
	 background: rgba(0, 0, 0, .9);
	 text-align: center;
	 padding: 15px;
	 margin: 0 10px 0 -30px; 
	 border: 0.2px solid rgba(0,0,0, .1);

   }

   .punct:hover {
	background-color: #FED136;
   }

	/*menu-settings-end*/ 

	.container {
		width: 100%;
		margin: 0 auto;
	}

	.logo {
		padding-left: 25px;
	}

	.logo img {
		width: 80%;
	}

	.welcome {
		font-size: 20px;
    	padding-bottom: 15px;
	}

	.home-header {
 		font-size: 24px;
    	padding-bottom: 60px;
	}

	.header-btn {
		padding: 14px 30px;
	}

	/*services-block*/

	.services {
		padding-top: 80px;
		height: 100%;
	}

	.block-header {
		font-size: 30px;
	}

	.block-desc {
		padding-top: 15px;
		font-size: 15px;
		padding-bottom: 5px;
		/*padding-bottom: 35px;*/
	}

	.item {
    	display: inline-block;
    	width: 100%;
    	padding-top: 50px;
    	padding-right: 0;
    	padding-left: 0;  
    }

    .item:last-child {
    	padding-right: 0;
    }

    /*portfolio-block*/

    .portfolio-ex {
    	padding-top: 35px;
    	margin-bottom: 0;
    }

    .portfolio {
    	padding-top: 90px; 
    	padding-bottom: 50px;
	}

	.examples {
		width: 75%;
		margin-right: 0;
		margin-bottom: 40px;
	}

	.examples:nth-child(4),
	.examples:nth-child(5),
	.examples:nth-child(6) {
		margin-bottom: 40px;
	}

	/*abou-block*/

	.about {
    	padding-top: 90px;
    	padding-bottom: 50px;
	}

	.reviews-item {
		padding-left: 10px;
		padding-right: 10px;
	}

	.review-text {
		display: inline-block;
		width: 100%;
		line-height: 25px;
		text-align: center;
		float: none; 
		/*padding-bottom: 25px;*/
	}

	.review-header { 
		font-size: 16px; 
		text-align: center;
		padding-top: 20px;
	}

	.review-desc {
		text-align: center;
		font-size: 15px;
	}

	/*.last { 
		display: none;
	}*/

	.review-photo { 
		width: 100%;
		float: none;
		display: block;
	}

	.review-photo,
	.review-photo:after {
		display: none;
	}
		
	.review-photo-1,
	.review-photo-2,
	.review-photo-3,
	.review-photo-4 {
		padding-top: 40px; 
		display: block;
		/*padding-bottom: 50px;*/
	}

	.mob img {
  		display: inline-block;
  		border: 7px solid #f1f1f1;
  		background-color: #F1F1F1;
  		border-radius: 50%;
  		width: 171px;
  		height: 170px;
	}

	.link-btn {
		margin-top: 15px;
	}

	/*team-block*/
	.team-item {
		width: 100%;
		padding-top: 30px;
	}

	.final-text {
		width: 80%;
	}

	.final-text p {
		font-size: 15px;
		font-family: 'Arial', sans-serif;
		padding-top: 10px;
	}

	/*our-partnters-block*/

	.partners {
		padding: 50px 0 30px 0;
	}

	.partners-logo {
		display: none;
	}
	
 	.slider {
 		display: block;
  		display: flex;
  		overflow-x: auto;
  			-webkit-overflow-scrolling: touch; 
  			scroll-snap-points-x: repeat(190px);
  			scroll-snap-type: mandatory;
	}

	.slider > div {
  		flex-shrink: 0;
  		width: 190px;
  		height: 50px;
  		padding-bottom: 10px;
  		background: #fff;
  		border: 5px solid white;
  		display: flex;
  		align-items: center;
  		justify-content: center;
	}	 
 	/*our-partnters-block-end*/

 	/*contact-block*/
	.left-block, .right-block {
		width: 80%;
		float: none;
		margin: 0 auto;
	}

	.contacts-header {
		font-size: 30px;
	}

	.contacts-desc {
		font-size: 14px;
	}

	.contacts {
		padding: 50px 0;
	}

	input[type="text"], 
	input[type="email"],
	input[type="tel"], 
	textarea {
  		text-transform: uppercase;
  		color: #bbbbbb;
  		font-size: 15px;
  		font-family: 'Arial', sans-serif; 
  		padding: 10px 18px;
  		margin-bottom: 25px;
	}

	input[type="submit"] {
		font-family: 'Arial', sans-serif;
		font-size: 16px;
		text-transform: uppercase; 
		color: #fff; 
	}

	.name-form, 
	.email-form, 
	.subject-form,
	.message-form  { 
		width: 75%; 
		border: 1px solid #cccccc;
		border-radius: 2px;
		background-color: #fff;
	}

	.feed-btn {
		padding: 10px 20px;
	}

	/*footer-block*/
	.copy {
		display: inline-block;
		width: 45%;
		padding: 15px 5px 15px 10px;
	}

	.copy span {
		text-align: right;
	}

	.copy span a {
		font-size: 13px;
		text-align: right; 
	}
	.our-social-links { 
		width: 45%;
		vertical-align: middle;
	}

	strong {
		display: none;
	}


	/*.our-social-links a {
		display: inline-block;
	}*/

	.social-tw {
		background: url(../img/social-icons/mob-version/tw-bg.png) no-repeat center center;
		width: 31px;
		height: 32px;
	}

	.social-tw:hover {
		background: url(../img/social-icons/mob-version/tw.png) no-repeat center center;
	}
 
	.social-fb {
		background: url(../img/social-icons/mob-version/fb-bg.png) no-repeat center center;
		width: 31px;
		height: 32px;
	}

	.social-fb:hover {
		background: url(../img/social-icons/mob-version/fb.png) no-repeat center center;
	}
	.social-pin {
		background: url(../img/social-icons/mob-version/pin-bg.png) no-repeat center center;
		width: 31px;
		height: 32px;
	}
	.social-pin:hover {
		background: url(../img/social-icons/mob-version/pin.png) no-repeat center center;
	}
	.social-gp {
		background: url(../img/social-icons/mob-version/google-bg.png) no-repeat center center;
		width: 31px;
		height: 32px;
	}
	.social-gp:hover {
		background: url(../img/social-icons/mob-version/google.png) no-repeat center center;
	}


	/*Всплывающие окна*/
	.more-contact {
		width: 200px;
		border: none;
		border-radius: none: 
	}

	.thn {
		width: 280px;
	}

	.thn h2 {
		padding-top: 30px;
		padding-bottom: 10px; 
	}

	.thn h3 {
		font-size: 18px;
	}

	.modal-our-social-links {
		padding-top: 30px;
		width: 100%;
	}

	.feedback-close {
    	left: 120px;
    	top: -57px;
    }
}

@media (min-width: 421px) and (max-width: 480px) {


	html {
		box-sizing: border-box; 
	}

	#wrapper {
		width: 100%;
		overflow-x: hidden;
	}

	.header {
		padding: 0;
	}

	.home {
		height: 180px;
		/*height: 200px;*/
		padding-top: 150px; 
	}

	.menu {
		display: none;
	}
	
	/*menu-settings*/

	ul.sub-menu { 
		display: block;
		position: absolute; 
		top: 0;
		right: 10px;
		padding-top: 5px
	}
	
	.hamb a {
		display: block;
	}

	.hamb img {
		width: 15%;
	}

 	ul {             
		width: 110px;
		text-align: center;
		font-size: 15px;
	}
	
  	li ul {             
		position: absolute;     
		display: none;          
	}
	
  	li a {
  		text-transform: uppercase;
  		font-size: 12px;
  		font-weight: bold;
  		color: #fff;               
		display: block;	
			-webkit-transition: all .2s;
			-o-transition: all .2s;
			transition: all .2s;
	}
	
  	li a:hover {         
		color: #000;	
	}
	
   	li a:active {        
		color: #3c3c3c;
	}

  	li:hover ul {         
		display: block;
   }
   
   .punct {
	 background: rgba(0, 0, 0, .9);
	 text-align: center;
	 padding: 15px;
	 margin: 0 10px 0 -30px; 
	 border: 0.2px solid rgba(0,0,0, .1);

   }

   .punct:hover {
	background-color: #FED136;
   }

	/*menu-settings-end*/ 

	.container {
		width: 100%;
		margin: 0 auto;
	}

	.logo {
		padding-left: 25px;
	}

	.logo img {
		width: 80%;
	}

	.welcome {
		font-size: 20px;
    	padding-bottom: 15px;
	}

	.home-header {
 		font-size: 24px;
    	padding-bottom: 60px;
	}

	.header-btn {
		padding: 14px 30px;
	}

	/*services-block*/

	.services {
		padding-top: 80px;
		height: 100%;
	}

	.block-header {
		font-size: 30px;
	}

	.block-desc {
		padding-top: 15px;
		font-size: 15px;
		padding-bottom: 5px;
		/*padding-bottom: 35px;*/
	}

	.item {
    	display: inline-block;
    	width: 100%;
    	padding-top: 50px;
    	padding-right: 0;
    	padding-left: 0;  
    }

    .item:last-child {
    	padding-right: 0;
    }

    /*portfolio-block*/

    .portfolio-ex {
    	padding-top: 35px;
    	margin-bottom: 0;
    }

    .portfolio {
    	padding-top: 90px; 
    	padding-bottom: 50px;
	}

	.examples {
		width: 75%;
		margin-right: 0;
		margin-bottom: 40px;
	}

	.examples:nth-child(4),
	.examples:nth-child(5),
	.examples:nth-child(6) {
		margin-bottom: 40px;
	}

	/*abou-block*/

	.about {
    	padding-top: 90px;
    	padding-bottom: 50px;
	}

	.reviews-item {
		padding-left: 10px;
		padding-right: 10px;
	}

	.review-text {
		display: inline-block;
		width: 100%;
		line-height: 25px;
		text-align: center;
		float: none; 
		/*padding-bottom: 25px;*/
	}

	.review-header { 
		font-size: 16px; 
		text-align: center;
		padding-top: 20px;
	}

	.review-desc {
		text-align: center;
		font-size: 15px;
	}

	/*.last { 
		display: none;
	}*/

	.review-photo { 
		width: 100%;
		float: none;
		display: block;
	}

	.review-photo,
	.review-photo:after {
		display: none;
	}
		
	.review-photo-1,
	.review-photo-2,
	.review-photo-3,
	.review-photo-4 {
		padding-top: 40px; 
		display: block;
		/*padding-bottom: 50px;*/
	}

	.mob img {
  		display: inline-block;
  		border: 7px solid #f1f1f1;
  		background-color: #F1F1F1;
  		border-radius: 50%;
  		width: 171px;
  		height: 170px;
	}

	.link-btn {
		margin-top: 15px;
	}

	/*team-block*/
	.team-item {
		width: 100%;
		padding-top: 30px;
	}

	.final-text {
		width: 80%;
	}

	.final-text p {
		font-size: 15px;
		font-family: 'Arial', sans-serif;
		padding-top: 10px;
	}

	/*our-partnters-block*/

	.partners {
		padding: 50px 0 30px 0;
	}

	.partners-logo {
		display: none;
	}
	
 	.slider {
 		display: block;
  		display: flex;
  		overflow-x: auto;
  			-webkit-overflow-scrolling: touch; 
  			scroll-snap-points-x: repeat(190px);
  			scroll-snap-type: mandatory;
	}

	.slider > div {
  		flex-shrink: 0;
  		width: 190px;
  		height: 50px;
  		padding-bottom: 10px;
  		background: #fff;
  		border: 5px solid white;
  		display: flex;
  		align-items: center;
  		justify-content: center;
	}	 
 	/*our-partnters-block-end*/

 	/*contact-block*/
	.left-block, .right-block {
		width: 80%;
		float: none;
		margin: 0 auto;
	}

	.contacts-header {
		font-size: 30px;
	}

	.contacts-desc {
		font-size: 14px;
	}

	.contacts {
		padding: 50px 0;
	}

	input[type="text"], 
	input[type="email"],
	input[type="tel"], 
	textarea {
  		text-transform: uppercase;
  		color: #bbbbbb;
  		font-size: 15px;
  		font-family: 'Arial', sans-serif; 
  		padding: 10px 18px;
  		margin-bottom: 25px;
	}

	input[type="submit"] {
		font-family: 'Arial', sans-serif;
		font-size: 16px;
		text-transform: uppercase; 
		color: #fff; 
	}

	.name-form, 
	.email-form, 
	.subject-form,
	.message-form  { 
		width: 75%; 
		border: 1px solid #cccccc;
		border-radius: 2px;
		background-color: #fff;
	}

	.feed-btn {
		padding: 10px 20px;
	}

	/*footer-block*/
	.copy {
		display: inline-block;
		width: 45%;
		padding: 15px 5px 15px 10px;
	}

	.copy span {
		text-align: right;
	}

	.copy span a {
		font-size: 13px;
		text-align: right; 
	}
	.our-social-links { 
		width: 45%;
		vertical-align: middle;
	}

	strong {
		display: none;
	}


	/*.our-social-links a {
		display: inline-block;
	}*/

	.social-tw {
		background: url(../img/social-icons/mob-version/tw-bg.png) no-repeat center center;
		width: 31px;
		height: 32px;
	}

	.social-tw:hover {
		background: url(../img/social-icons/mob-version/tw.png) no-repeat center center;
	}
 
	.social-fb {
		background: url(../img/social-icons/mob-version/fb-bg.png) no-repeat center center;
		width: 31px;
		height: 32px;
	}

	.social-fb:hover {
		background: url(../img/social-icons/mob-version/fb.png) no-repeat center center;
	}
	.social-pin {
		background: url(../img/social-icons/mob-version/pin-bg.png) no-repeat center center;
		width: 31px;
		height: 32px;
	}
	.social-pin:hover {
		background: url(../img/social-icons/mob-version/pin.png) no-repeat center center;
	}
	.social-gp {
		background: url(../img/social-icons/mob-version/google-bg.png) no-repeat center center;
		width: 31px;
		height: 32px;
	}
	.social-gp:hover {
		background: url(../img/social-icons/mob-version/google.png) no-repeat center center;
	}


	/*Всплывающие окна*/
	.more-contact {
		width: 200px;
		border: none;
		border-radius: none: 
	}

	.thn {
		width: 280px;
	}

	.thn h2 {
		padding-top: 30px;
		padding-bottom: 10px; 
	}

	.thn h3 {
		font-size: 18px;
	}

	.modal-our-social-links {
		padding-top: 30px;
		width: 100%;
	}

	.feedback-close {
    	left: 120px;
    	top: -57px;
    }
}


 



/*@media (min-width: 480px) and (max-width: 768px) {
	
}

@media (min-width: 768px) and (max-width: 1024px) {
	
}

@media (min-width: 1024px) and (max-width: 1200px) {
	
}

@media (min-width: 1200px) and (max-width: 1600px) {
	
}

@media (min-width: 1600px) and (max-width: 1900px) {
	
}*/








/*	 <div id="sub-menu" class="main-menu">
			<ul class="sub-menu">
				 <li><a href="index.html">Home</a></li>
				 <li><a href="#services">Services</a></li>
				 <li><a href="#our-portfolio">Portfolio</a></li>
				 <li><a href="#about">About</a></li>
				 <li><a href="#our-contact">Contact</a></li>
			 </ul>
		 </div>
*/