@media (min-width: 1200px) and (max-width: 1600px) {

	.logo {
		padding-left: 100px;
		vertical-align: middle;
	}

	.logo img {
		width: 100px;
	}

	.menu {
		padding-top: 11px;
		padding-right: 70px;
		vertical-align: middle;
	}

	.menu li {
		margin-right: 50px;
	}

	.menu a {
		font-size: 16px;
	}

	.header {
		margin-top: 35px;
	}

	.home {
		height: 480px;
	}

	.welcome {
		font-size: 55px;
		padding: 50px 0 40px 0;
	}

	.home-header {
		font-size: 70px;
		padding-top: 10px;
		padding-bottom: 120px;
	}

	.header-btn {
		padding: 25px 50px;
		font-size: 20px;
	}

	.header-btn:hover {
		color: #000;
	}

	.block-header {
		font-size: 45px;
	}

	.block-desc {
		padding-top: 25px;
		padding-bottom: 50px;
		font-size: 18px;
	}

	/*ширина блока с преимуществами*/
	.services {
		height: auto;
	}

	.services-items {
		width: 90%;
    	margin: 0 auto;
	}

	.item-header {
		font-size: 22px;
	}

	.item-desc {
		font-size: 16px;
	}

	.item {
		width: 28%; 
	}

	.item img {
		width: 80px;
	}


	.portfolio-ex {
		margin: 0 auto;
	}

	.examples {
		width: 24%;
	}

	.examples:nth-child(3), 
	.examples:nth-child(6) {
		margin-right: 0;
	}


	.reviews-block {
    	width: 85%;
    	margin: 0 auto;
	}

	.text-right {
		padding-left: 20px;
	}

	.text-left {
		padding-right: 20px;
	}

	.review-desc {
		font-size: 14px;
		padding-top: 10px;
	}

	/*team-block*/
	.team-item {
		width: 25%;
		padding: 0; 
	}

	.final-text p {
		font-size: 17px;
		padding-top: 20px;
	}

	/*parnters-block*/
	.partners-logo a {
		padding-right: 100px;
	}

	/*contacts-block*/

	.contacts {
		padding-bottom: 80px;
	}

	.feedback-block {
		width: 80%;
		margin: 0 auto;
	}

	.contacts-desc {
		margin-bottom: 30px;
	}

	.message-form {
		height: 178px;
	}

	/*footer-block-settings*/

	.copy {
		float: left;
	}

	.our-social-links {
		margin-left: 3%;
    	margin-top: 22px;
	}

	.feed-btn {
		padding: 15px 30px; 
	}




	/*modal-window-settings*/

	.modal-our-social-links {
		margin-top: 10px;
		
	}
 
	.examples a:first-child{
		display: none;
	}

	.examples .big-size {
		display: block;
	}

}

 
@media (min-width: 1600px) and (max-width: 1900px) {

		.container {
			width: 90%;
			margin: 0 auto;
		}

		.examples a:first-child {
			display: none;
		}

		.examples .big-size {
			display: block;
		}

		.examples:nth-child(3), 
		.examples:nth-child(6) {
			margin-right: 0;
		}

}

@media (min-width: 1901px) {
.container {
width: 90%;
margin: 0 auto;
}

.examples a:first-child {
display: none;
}

.examples .big-size {
display: block;
}

.examples:nth-child(3), 
.examples:nth-child(6) {
margin-right: 0;
}
}
